<div class="pf2e-simplexp-char-list">
	{{#each pcs}}
		<div>
			<div><input class="pf2e-simplexp-char-selector" type="checkbox" name="{{this.id}}" {{this.checked}}/></div>
			<div class="pf2e-simplexp-char-img-box"><img src="{{this.image}}"/></div>
			<div>{{this.name}}</div>
		</div>
	{{/each}}
</div>
<div class="pf2e-simplexp-form">
	<div class="pf2e-simplexp-primary"><label for="xp">Award Specific</label><input id="pf2e-simplexp-xp" type="text" name="xp" value=10 /></div>
</div>
