<div class="roll-chat">
    <header class="card-header flexrow">
        <h3 class="roll-name">Character</h3>
        <h3 class="roll-type">XP-Award</h3>
    </header>

    <div class="card-content">
		{{#each pcs}}
			<b>{{this.name}}:</b> {{reward}} <b>{{this.leveled}}</b><br>
		{{/each}}
    </div>
</div>