.pf2e-simplexp-form {
	display:flex;
	align-items:center;
}

.pf2e-simplexp-form > div {
	margin-right:5px;
}

.pf2e-simplexp-form > div:last-child {
	margin-right:0px;
}

.pf2e-simplexp-primary {
	flex-grow:2;
	flex-shrink:1;
}

.pf2e-simplexp-secondary {
	flex-grow:1;
	flex-shrink:2;
}

.pf2e-simplexp-form label {
	font-weight:bold;
}

.pf2e-simplexp-char-list > div {
	display:table-row;
}

.pf2e-simplexp-char-list > div > div {
	display:table-cell;
	vertical-align: middle;
	padding: 2px;
}

.pf2e-simplexp-char-img-box {
	min-height: 48px;
	min-width:  48px;
	max-height: 48px;
	max-width:  48px;
}

.pf2e-simplexp-char-img-box img {
	max-height:100%;
	max-width:100%;
	height:auto;
	width:auto;
	border-width: 0px;
	display:block;
	margin:auto;
}

.pf2e-simplexp-char-filter-list th {
	text-align: left;
}

.pf2e-simplexp-char-picker .pf2e-simplexp-char:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.roll-chat {
	font-family: "Modesto", "Palatino Linotype", serif;
}

.roll-chat .roll-name, .roll-chat .roll-type {
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bolder;
	line-height: 26px;
	margin: 0;
}

.roll-chat .roll-name {
	font-size: 18px;
}

.roll-chat .roll-type {
	text-align: right;
	font-size: 24px;
	font-style: italic;
	font-weight: bolder;
	color: rgba(131, 131, 131, 0.781);
}
